<!-- Start of script !--->
<h1>{{header}}</h1>
{{#if items}}
  <ul>
    {{#each items}}
      {{#if current}}
        <li><strong>{{name}}</strong></li>
      {{^}}
        <li><a href="{{url}}">{{name}}</a></li>
        <li><p>Project language file 1</p></li>
        <li><p>For: SNU/2D/ProgrammingTools/IDE/Handlebars</p></li>
        <li><p>About:</p></li>
        <li><p>I decided to make Handlebars the project language file for this project (SNU/2D/Programming Tools/IDE/Handlebars) as this is a Handlebars IDE Project and needs to have Handlebars as its main language.</p></li>
      {{/if}}
    {{/each}}
  </ul>
{{^}}
  <p>The list is empty.</p>
{{/if}}
<!-- File info
>>* File type: HandleBars source file (*.hbs *.handlebars)
>>* File version: 1 (2022, Monday, September 19th at 7:23 pm PST)
>>* Line count (including blank lines and compiler line): 26
!-->
<!-- End of script !-->
