<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Project language file 1 - SNU 2D Programming Tools/IDE/EJS</title>
</head>

<body>
    <div id="header">
        <div class="conteiner">
            <h1>Project language file 1 for SNU 2D Programming Tools/IDE/EJS</h1>
            <ul>
                <%=my%>
            </ul>
            <p>I decided to make EJS the project language file for this project (SNU/2D/Programming Tools/IDE/EJS) as this is a EJS IDE Project and needs to have EJS as its main language.</p>
            <form action="/contact" method="post">
                <input type="text" name="savol" id="savol">
                <input type="submit" value="Yuborish">
            </form>
        </div>
    </div>

<!-- File info

// File info
// File type: EJS source file (*.uc)
// File version: 1 (Tuesday, August 17th 2021 at 6:23 pm)
// Line count (including blank lines and compiler line): 37
// End of script

!-->

</body>

</html>
