# Start of script
# Sample KDE desktop entry
[Desktop Entry]
Type=Application
Exec=your-app %u
MimeType=application/x-your-mime-type;
Icon=some-icon
X-DocPath=yourapp/index.html
Terminal=false
Name=Your App
GenericName=Project language file 15
Comment=I decided to make .desktop the 15th project language file for this project (seanpm2001/Seanpm2001-GitHub-Pages-Collection) as .desktop is one of the languages used for configuration of this project, and I am representing all project languages today via project language files (2022, Tuesday, August 16th)
Categories=Qt;KDE;
# File info
# File type: KDE desktop file (*.desktop)
# File version: 1 (2022, Tuesday, August 16th at 7:27 pm PST)
# Line count (including blank lines and compiler line): 19
# End of script
