<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Project language file 1 - seanpm2001/Learn-EJS</title>
</head>

<body>
    <div id="header">
        <div class="conteiner">
            <h1>Project language file 1 for seanpm2001/Learn-EJS</h1>
            <ul>
                <%=my%>
            </ul>
            <p>I decided to make BitBake the main project language file for this project (Seanpm2001/Learn-BitBake) as BitBake is the language this project is dedicated to, because this project is about learning the BitBake programming language. It only makes sense to BitBake the official language for this project. It is getting its own project language file, starting here.</p>
            <form action="/contact" method="post">
                <input type="text" name="sean" id="sean">
                <input type="submit" value="Null1">
            </form>
        </div>
    </div>

<!-- File info

// File info
// File type: EJS source file (*.ejs)
// File version: 1 (2022, Sunday, October 9th at 8:33 pm PST)
// Line count (including blank lines and compiler line): 37
// End of script

!-->

</body>

</html>
