/* Start of script */

/* I chose CSS3 as the second project language file for this project (Seanpm2001/LifeArchive/Extras/ClockTree) as CSS is the main stylesheet language used for the sites development (as far as I can tell) it is the next step language in web development, so it comes secon. Also this project needed a project language file. */
/* Now to make this a multi-purpose file, I will add styling for a basic dark mode template */

h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
h5 {
  color: white;
}
h6 {
  color: white;
}
p {
  color: white;
}

/* Note for project language files: The languages associated with SNU programming tools are not included as project language files, as there are too many to list. */

/* File info
* File type: Cascading Styling Sheets 3 stylesheet source file (*.css)
* File version: 1 (Monday, 2021 November 29th at 12:28 pm)
* Line count (including blank lines and compiler line): 37
*/

/* End of script */

