// Start of script
// Project language file 3
// For: seanpm2001/Seanpm2001-GitHub-Pages-Collection
// About
// I chose SCSS as the third project language file for this project (seanpm2001/Seanpm2001-GitHub-Pages-Collection) as SCSS is one of the top stylesheet languages for this project, and is common for GitHub pages use over regular CSS. It is getting its own project language file, starting here. */
/* Now to make this a multi-purpose file, I will add styling for a basic SCSS template */
table.hl {
  margin: 2em 0;
  td.ln {
    text-align: right;
  }
}

li {
  font: {
    family: serif;
    weight: bold;
    size: 1.3em;
  }
}
// File info
// File type: SCSS Stylesheet file (*.scss)
// File version: 1 (2022, Tuesday, August 16th at 5:27 pm PST)
// Line count (Including blank lines and compiler line): 26
// End of script
