/* Start of script */

/* I decided to make the 6th project language file for this project (FINF-DB) to be CSS, as CSS is the default stylesheet language for this project. Alternative planned languages include LESS. */
/* Now to make this a multi-purpose file, I will add styling for a basic dark mode template */

h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
h5 {
  color: white;
}
h6 {
  color: white;
}
p {
  color: white;
}

/* Note for project language files: The languages associated with SNU programming tools are not included as project language files, as there are too many to list. */

/* File info
* File type: Cascading Styling Sheets 3 stylesheet source file (*.css)
* File version: 1 (Sunday, 2021 November 28th at 5:56 pm)
* Line count (including blank lines and compiler line): 37
*/

/* End of script */

