// Start of script
extends ../_bootstrap
append styles
block body
  h1.bodyTitle Project language file two
  h2.bodySubTitle For: Seanpm2001/FINF-DB
  h3.bodySubbTitle About:
  p.body I chose Pug as the second project language for this project (Seanpm2001/FINF-DB) as Pug is the main supported language for this projects database. For compatibility, XML, Mustuche, and Handlebars are alternatives for the Pug database.
block endBody
block fileInf
  h1.finfTitle File info
  p.finfBody1 File type: Pug source file (*.pug)
  p.finfBody2 File version: 1 (2021, Sunday, November 28th at 5:36 pm)
  p.finfBody3 Line count (including blank lines and compiler line): 17
block endFinf
// End of script

