# Start of script
# I am going to keep trying on this until I get it right
# @seanpm2001 is the global code owner for this project
/// @seanpm2001
/ @seanpm2001
/* @seanpm2001
* @seanpm2001
# Directories at root
/.github/ @seanpm2001
/External/ @seanpm2001
/GitHub2022/ @seanpm2001
/OldVersions/ @seanpm2001
/RepoData/ @seanpm2001
# Files at root
/.editorconfig @seanpm2001
/.gitattributes @seanpm2001
/.gitignore @seanpm2001
/AUTHORS @seanpm2001
/CITATION.cff @seanpm2001
/CONTRIBUTING.md @seanpm2001
/COPYINGL @seanpm2001
/CREDITS @seanpm2001
/DRM-free_label.en.svg @seanpm2001
/INSTALL @seanpm2001
/K.desktop @seanpm2001
/Gemfile @seanpm2001
/LICENSE.txt @seanpm2001
/PROJECT_LANG_1.rb @seanpm2001
/PROJECT_LANG_2.go @seanpm2001
/PROJECT_LANG_3.js @seanpm2001
/PROJECT_LANG_4.c @seanpm2001
/README.md @seanpm2001
/SECURITY.md @seanpm2001
/SponsorButton.png @seanpm2001
/desktop.ini @seanpm2001
/makefile.mk @seanpm2001
/GitHub_font_awesome.svg @seanpm2001
/RAKEFILE @seanpm2001
/SPM2001_LifeArchive_Images_GitHub_Y2022.gemspec @seanpm2001
/SECURITY.md @seanpm2001
# Individual file types
*.txt @seanpm2001
*.jpg @seanpm2001
*.JPG @seanpm2001
*.JPEG @seanpm2001
*.jpeg @seanpm2001
*.PNG @seanpm2001
*.gif @seanpm2001
*.GIF @seanpm2001
*.md @seanpm2001
*.mkd @seanpm2001
*.mdown @seanpm2001
*.markdown @seanpm2001
*.e @seanpm2001
*.png @seanpm2001
*.bib @seanpm2001
*.cff @seanpm2001
*.svg @seanpm2001
*.bib @seanpm2001
*.mk @seanpm2001
*.mak @seanpm2001
*.make @seanpm2001
*.yml @seanpm2001
*.YAML @seanpm2001
*.srt @seanpm2001
*.ogg @seanpm2001
*.mp3 @seanpm2001
*.mp4 @seanpm2001
*.mkv @seanpm2001
*.oga @seanpm2001
*.wmv @seanpm2001
*.txt @seanpm2001
*.xspf @seanpm2001
*.json @seanpm2001
*.htm @seanpm2001
*.html @seanpm2001
*.aiff @seanpm2001
*.alac @seanpm2001
*.flac @seanpm2001
*.m4a @seanpm2001
*.sh @seanpm2001
*.desktop @seanpm2001
*.zip @seanpm2001
*.rar @seanpm2001
*.webm @seanpm2001
*.webp @seanpm2001
*.doc @seanpm2001
*.docx @seanpm2001
*.odt @seanpm2001
*.tmp @seanpm2001
*.csv @seanpm2001
*.CSV @seanpm2001
*.rb @seanpm2001
*.RB @seanpm2001
*.py @seanpm2001
*.PY @seanpm2001
*.htm @seanpm2001
*.html @seanpm2001
*.mhtm @seanpm2001
*.mhtml @seanpm2001
*.xhtm @seanpm2001
*.xhtml @seanpm2001
*.HTM @seanpm2001
*.HTML @seanpm2001
*.MHTM @seanpm2001
*.MHTML @seanpm2001
*.XHTM @seanpm2001
*.XHTML @seanpm2001
*.gemspec @seanpm2001
*.tex @seanpm2001
*.TEX @seanpm2001
*.go @seanpm2001
*.GO @seanpm2001
*.js @seanpm2001
*.JS @seanpm2001
*.cjs @seanpm2001
*.CJS @seanpm2001
*.mjs @seanpm2001
*.MJS @seanpm2001
*.json @seanpm2001
*.fs @seanpm2001
*.for @seanpm2001
*.f77 @seanpm2001
*.FOR @seanpm2001
*.kt @seanpm2001
*.java @seanpm2001
*.boo @seanpm2001
*.vala @seanpm2001
*.vapi @seanpm2001
*.gs @seanpm2001
*.r @seanpm2001
*.rs @seanpm2001
*.css @seanpm2001
*.scss @seanpm2001
*.swift @seanpm2001
*.applescript @seanpm2001
*.cs @seanpm2001
*.csx @seanpm2001
*.ts @seanpm2001
*.scm @seanpm2001
*.ss @seanpm2001
*.ex @seanpm2001
*.erl @seanpm2001
*.e @seanpm2001
*.d @seanpm2001
*.dm @seanpm2001
*.cuda @seanpm2001
*.csd @seanpm2001
*.b @seanpm2001
*.BAS @seanpm2001
*.tsx @seanpm2001
*.wasm @seanpm2001
*.wat @seanpm2001
*.y @seanpm2001
*.yacc @seanpm2001
*.zs @seanpm2001
*.lua @seanpm2001
*.pl @seanpm2001
*.pro @seanpm2001
*.pas @seanpm2001
*.p @seanpm2001
*.P @seanpm2001
*.ps @seanpm2001
*.qs @seanpm2001
*.as @seanpm2001
*.asm @seanpm2001
*.v @seanpm2001
*.vh @seanpm2001
*.sv @seanpm2001
*.svh @seanpm2001
*.h @seanpm2001
*.H @seanpm2001
*.elm @seanpm2001
*.el @seanpm2001
*.F77 @seanpm2001
*.FS @seanpm2001
*.g @seanpm2001
*.lsp @seanpm2001
*.xml @seanpm2001
*.wim @seanpm2001
*.scala @seanpm2001
*.ps1 @seanpm2001
*.cr @seanpm2001
*.qml @seanpm2001
*.less @seanpm2001
*.php @seanpm2001
*.sql @seanpm2001
*.xslt @seanpm2001
*.zig @seanpm2001
*.nim @seanpm2001
*.ocaml @seanpm2001
*.ml @seanpm2001
*.mm @seanpm2001
*.m @seanpm2001
*.MM @seanpm2001
*.M @seanpm2001
*.jar @seanpm2001
*.jspp @seanpm2001
*.jsp @seanpm2001
*.kot @seanpm2001
*.mat @seanpm2001
*.cob @seanpm2001
*.COB @seanpm2001
*.cbl @seanpm2001
*.CBL @seanpm2001
*.alg @seanpm2001
*.ALG @seanpm2001
*.sb2 @seanpm2001
*.sb @seanpm2001
*.sb3 @seanpm2001
*.srt @seanpm2001
*.xspf @seanpm2001
*.t @seanpm2001
*.0 @seanpm2001
*.1 @seanpm2001
*.2 @seanpm2001
*.3 @seanpm2001
*.roff @seanpm2001
*.gradle @seanpm2001
# No more individual file types for now
# File info
# File type: codeowners file (CODEOWNERS)
# File version: 1 (2021, Wednesday, December 29th at 5:58 pm)
# Line count (including blank lines and compiler line): 226
# End of script
