# Start of script

# .gitattributes
# This file defines what languages can show up in the GitHub linguist menu (the menu that tells you what percentage each language is using up on this project.
# Some non-programming languages must be included manually with this file. Want to create your own? Do something similar to what is done here, and name the file
# .gitattributes
# and nothing else, no characters before, no characters after

# Start of linguist script

# ABC
*.abc linguist-detectable=true
*.abc linguist-documentation=false
# Ada
*.ada linguist-detectable=true
*.ada linguist-documentation=false
# AppleScript
*.applescript linguist-detectable=true
*.applescript linguist-documentation=false
# Assembly
*.asm linguist-detectable=true
*.asm linguist-documentation=false
# ActionScript/AngelScript
*.as linguist-detectable=true
*.as linguist-documentation=false
# ASP (Action Server Pages)
*.asp linguist-detectable=true
*.asp linguist-documentation=false
# ASP.NET (Action Server Pages DOT NET)
*.aspx linguist-detectable=true
*.aspx linguist-documentation=false
# AWK
*.awk linguist-detectable=true
*.awk linguist-documentation=false
# B
*.b linguist-detectable=true
*.b linguist-documentation=false
# Boo
*.boo linguist-detectable=true
*.boo linguist-documentation=false
# BrightScript
*.brs linguist-detectable=true
*.brs linguist-documentation=false
# BASIC
*.BAS linguist-detectable=true
*.BAS linguist-documentation=false
# BiBTeX
*.bib linguist-detectable=true
*.bib linguist-documentation=false
# Batchfile
*.bat linguist-detectable=true
*.bat linguist-documentation=false
*.com linguist-detectable=true
*.com linguist-documentation=false
# C
*.c linguist-detectable=true
*.c linguist-documentation=false
*.h linguist-detectable=true
*.h linguist-documentation=false
# CSS
*.css linguist-detectable=true
*.css linguist-documentation=false
# C++
*.cpp linguist-detectable=true
*.cpp linguist-documentation=false
*.cxx linguist-detectable=true
*.cxx linguist-documentation=false
# C#
*.cs linguist-detectable=true
*.cs linguist-documentation=false
# Comma Separated Values
*.csv linguist-detectable=true
*.csv linguist-documentation=false
# CSound
*.csound linguist-detectable=true
*.csound linguist-documentation=false
*.orc linguist-detectable=true
*.orc linguist-documentation=false
# COBOL
*.COB linguist-detectable=true
*.COB linguist-documentation=false
# CUDA (NVidia)
*.cuda linguist-detectable=true
*.cuda linguist-documentation=false
# CaML
*.caml linguist-detectable=true
*.caml linguist-documentation=false
# CoffeeScript
*.coffee linguist-detectable=true
*.coffee linguist-documentation=false
*.litcoffee linguist-detectable=true
*.litcoffee linguist-documentation=false
# CMake
*.cmake linguist-detectable=true
*.cmake linguist-documentation=false
# Crystal
*.cr linguist-detectable=true
*.cr linguist-documentation=false
# Common Lisp
*.lisp linguist-detectable=true
*.lisp linguist-documentation=false
# Clojure
*.edn linguist-detectable=true
*.edn linguist-documentation=false
*.clj linguist-detectable=true
*.clj linguist-documentation=false
# Docker
*.dockerfile linguist-detectable=true
*.dockerfile linguist-documentation=false
*.docker linguist-detectable=true
*.docker linguist-documentation=false
# Dhali
*.dhali linguist-detectable=true
*.dhali linguist-documentation=false
# D
*.d linguist-detectable=true
*.d linguist-documentation=false
# Diff
*.diff linguist-detectable=true
*.diff linguist-documentation=false
# Dart
*.dart linguist-detectable=true
*.dart linguist-documentation=false
# EJS
*.ejs linguist-detectable=true
*.ejs linguist-documentation=false
# Erlang
*.erl linguist-detectable=true
*.erl linguist-documentation=false
# Eiffel
*.e linguist-detectable=true
*.e linguist-documentation=false
# Elixir
*.ex linguist-detectable=true
*.ex linguist-documentation=false
*.exs linguist-detectable=true
*.exs linguist-documentation=false
# Emacs Lisp
*.el linguist-detectable=true
*.el linguist-documentation=false
*.elc linguist-detectable=true
*.elc linguist-documentation=false
# Freemarker
*.ftl linguist-detectable=true
*.ftl linguist-documentation=false
# F#
*.fs linguist-detectable=true
*.fs linguist-documentation=false
# FORTRAN
*.FOR linguist-detectable=true
*.FOR linguist-documentation=false
*.F77 linguist-detectable=true
*.F77 linguist-documentation=false
*.F99 linguist-detectable=true
*.F99 linguist-documentation=false
*.F11 linguist-detectable=true
*.F11 linguist-documentation=false
# Forth
*.for linguist-detectable=true
*.for linguist-documentation=false
*.forth linguist-detectable=true
*.forth linguist-documentation=false
# Game Maker Language
*.gml linguist-detectable=true
*.gml linguist-documentation=false
# General Markup Language
*.gml linguist-detectable=true
*.gml linguist-documentation=false
# Genie
*.gs linguist-detectable=true
*.gs linguist-documentation=false
# Go!/Go
*.go linguist-detectable=true
*.go linguist-documentation=false
# GLSL
*.glsl linguist-detectable=true
*.glsl linguist-documentation=false
# Groff
*.groff linguist-detectable=true
*.groff linguist-documentation=false
# Groovy
*.groovy linguist-detectable=true
*.groovy linguist-documentation=false
*.gy linguist-detectable=true
*.gy linguist-documentation=false
# Gherkin
*.feature linguist-detectable=true
*.feature linguist-documentation=false
# HandleBars
*.hbs linguist-detectable=true
*.hbs linguist-documentation=false
# Hack (Facebook)
*.hack linguist-detectable=true
*.hack linguist-documentation=false
# Haskell
*.hs linguist-detectable=true
*.hs linguist-documentation=false
*.lhs linguist-detectable=true
*.lhs linguist-documentation=false
# HTML
*.htm linguist-detectable=true
*.htm linguist-documentation=false
*.html linguist-detectable=true
*.html linguist-documentation=false
*.xhtm linguist-detectable=true
*.xhtm linguist-documentation=false
*.xhtml linguist-detectable=true
*.xhtml linguist-documentation=false
*.mhtm linguist-detectable=true
*.mhtm linguist-documentation=false
*.mhtml linguist-detectable=true
*.mhtml linguist-documentation=false
# INI
*.ini linguist-detectable=true
*.ini linguist-documentation=false
# Inno Setup
*.iss linguist-detectable=true
*.iss linguist-documentation=false
# ImageJ (Macro)
*.ijm linguist-detectable=true
*.ijm linguist-documentation=false
# Idris
*.idr linguist-detectable=true
*.idr linguist-documentation=false
# Inform 6
*.i6 linguist-detectable=true
*.i6 linguist-documentation=false
# Inform 7
*.i7 linguist-detectable=true
*.i7 linguist-documentation=false
# Isabelle
*.thy linguist-detectable=true
*.thy linguist-documentation=false
# Intel Hex Binary
*.hex linguist-detectable=true
*.hex linguist-documentation=false
# J
*.j linguist-detectable=true
*.j linguist-documentation=false
# JADE
*.jade linguist-detectable=true
*.jade linguist-documentation=false
# Jupyter Notebook
*.ipynb linguist-detectable=true
*.ipynb linguist-documentation=false
# Java
*.java linguist-detectable=true
*.java linguist-documentation=false
*.jar linguist-detectable=true
*.jar linguist-documentation=false
# JavaScript
*.js linguist-detectable=true
*.js linguist-documentation=false
# JSON
*.json linguist-detectable=true
*.json linguist-documentation=false
# JSSS
*.jsss linguist-detectable=true
*.jsss linguist-documentation=false
# Julia
*.jl linguist-detectable=true
*.jl linguist-documentation=false
# KiXtart
*.kix linguist-detectable=true
*.kix linguist-documentation=false
# Kotlin
*.kt linguist-detectable=true
*.kt linguist-documentation=false
*.kts linguist-detectable=true
*.kts linguist-documentation=false
*.ktm linguist-detectable=true
*.ktm linguist-documentation=false
# LogTalk
*.lgt linguist-detectable=true
*.lgt linguist-documentation=false
# Lua
*.lua linguist-detectable=true
*.lua linguist-documentation=false
# Lisp
*.lsp linguist-detectable=true
*.lsp linguist-documentation=false
# Liquid
*.liquid linguist-detectable=true
*.liquid linguist-documentation=false
# LFE (LISP Flavored Erlang)
*.lfe linguist-detectable=true
*.lfe linguist-documentation=false
# Less
*.less linguist-detectable=true
*.less linguist-documentation=false
# Makefile (GNU Make)
*.mk linguist-detectable=true
*.mk linguist-documentation=false
*.makefile linguist-detectable=true
*.makefile linguist-documentation=false
# Mathematica
# *.m linguist-detectable=true
# *.m linguist-documentation=false
# *.nb linguist-detectable=true
# *.nb linguist-documentation=false
# Temporary (until JavaScript or another language reaches 33% or higher)
# I don't want Mathematica to be the top language for this project, but due to new Mathematica support, it was, so I had to turn it off for now
*.nb linguist-detectable=false
*.nb linguist-documentation=false
*.m linguist-detectable=false
*.m linguist-documentation=false
# M4
*.m4 linguist-detectable=true
*.m4 linguist-documentation=false
# MATLAB
*.mat linguist-detectable=true
*.mat linguist-documentation=false
# Modelica
*.mod linguist-detectable=true
*.mod linguist-documentation=false
# Modula
*.MOD linguist-detectable=true
*.MOD linguist-documentation=false
# Modula-2
*.m2 linguist-detectable=true
*.m2 linguist-documentation=false
# Modula-3
*.mod linguist-detectable=true
*.mod linguist-documentation=false
# Markdown
*.md linguist-detectable=false
*.md linguist-documentation=false
*.mkd linguist-detectable=false
*.mkd linguist-documentation=false
*.markdown linguist-detectable=false
*.markdown linguist-documentation=false
# Nim
*.nim linguist-detectable=true
*.nim linguist-documentation=false
*.nimrod linguist-detectable=true
*.nimrod linguist-documentation=false
# Nix (package format)
*.nix linguist-detectable=true
*.nix linguist-documentation=false
# Nunjucks
*.njk linguist-detectable=true
*.njk linguist-documentation=false
# Objective-C
*.m linguist-detectable=true
*.m linguist-documentation=false
*.mm linguist-detectable=true
*.mm linguist-documentation=false
# Objective-J
*.j linguist-detectable=true
*.j linguist-documentation=false
# Oberon
*.ob linguist-detectable=true
*.ob linguist-documentation=false
# Pascal
*.pas linguist-detectable=true
*.pas linguist-documentation=false
*.pp linguist-detectable=true
*.pp linguist-documentation=false
*.inc linguist-detectable=true
*.inc linguist-documentation=false
# Perl
*.pl linguist-detectable=true
*.pl linguist-documentation=false
# Perl 6
*.pl6 linguist-detectable=true
*.pl6 linguist-documentation=false
# PHP
*.php linguist-detectable=true
*.php linguist-documentation=false
# Python
*.py linguist-detectable=true
*.py linguist-documentation=false
# Pug
*.pug linguist-detectable=true
*.pug linguist-documentation=false
# PowerShell
*.ps1 linguist-detectable=true
*.ps1 linguist-documentation=false
# PostScript
*.ps linguist-detectable=true
*.ps linguist-documentation=false
# PureScript
*.pur linguist-detectable=true
*.pur linguist-documentation=false
# Prolog
*.pl linguist-detectable=true
*.pl linguist-documentation=false
*.pro linguist-detectable=true
*.pro linguist-documentation=false
# Pig (Apache)
*.pig linguist-detectable=true
*.pig linguist-documentation=false
# Q#
*.qs linguist-detectable=true
*.qs linguist-documentation=false
# QML
*.qml linguist-detectable=true
*.qml linguist-documentation=false
# R
*.r linguist-detectable=true
*.r linguist-documentation=false
# REBOL
*.rebol linguist-detectable=true
*.rebol linguist-documentation=false
# Racket
*.rkt linguist-detectable=true
*.rkt linguist-documentation=false
# Roff
*.roff linguist-detectable=true
*.roff linguist-documentation=false
# Raku
*.raku linguist-detectable=true
*.raku linguist-documentation=false
# Ruby
*.rb linguist-detectable=true
*.rb linguist-documentation=false
# Rust
*.rs linguist-detectable=true
*.rs linguist-documentation=false
# ReStructuredText
*.rst linguist-detectable=true
*.rst linguist-documentation=false
# Scala
*.sc linguist-detectable=true
*.sc linguist-documentation=false
*.scala linguist-detectable=true
*.scala linguist-documentation=false
# Starlark
*.bzl linguist-detectable=true
*.bzl linguist-documentation=false
*.build linguist-detectable=true
*.build linguist-documentation=false
# Standardized General Markup Language
*.sgml linguist-detectable=true
*.sgml linguist-documentation=false
# Scheme
*.scm linguist-detectable=true
*.scm linguist-documentation=false
*.ss linguist-detectable=true
*.ss linguist-documentation=false
# Seed7
*.seed7 linguist-detectable=true
*.seed7 linguist-documentation=false
# SmallTalk
*.st linguist-detectable=true
*.st linguist-documentation=false
# SuperCollider
*.sc linguist-detectable=true
*.sc linguist-documentation=false
# SQL
*.sql linguist-detectable=true
*.sql linguist-documentation=false
# SVG
*.svg linguist-detectable=false
*.svg linguist-documentation=false
# Shell
*.sh linguist-detectable=true
*.sh linguist-documentation=false
# Subrip Text
*.srt linguist-detectable=true
*.srt linguist-documentation=false
# SASS
*.sass linguist-detectable=true
*.sass linguist-documentation=false
# SCSS
*.scss linguist-detectable=true
*.scss linguist-documentation=false
# Stylus
*.styl linguist-detectable=true
*.styl linguist-documentation=false
# Swift
*.swift linguist-detectable=true
*.swift linguist-documentation=false
# SREC (Motorola S-RECORD)
*.mot linguist-detectable=true
*.mot linguist-documentation=false
# SXML
*.sxml linguist-detectable=true
*.sxml linguist-documentation=false
# SystemVerilog
*.sv linguist-detectable=true
*.sv linguist-documentation=false
*.svh linguist-detectable=true
*.svh linguist-documentation=false
# TeX
*.tex linguist-detectable=true
*.tex linguist-documentation=false
# TCL
*.tcl linguist-detectable=true
*.tcl linguist-documentation=false
# TOML
*.toml linguist-detectable=true
*.toml linguist-documentation=false
# Twig
*.twig linguist-detectable=true
*.twig linguist-documentation=false
# TypeScript
*.ts linguist-detectable=true
*.ts linguist-documentation=false
# Text (plain)
*.txt linguist-detectable=false
*.txt linguist-documentation=false
# UnrealScript
*.uc linguist-detectable=true
*.uc linguist-documentation=false
# Vala
*.vala linguist-detectable=true
*.vala linguist-documentation=false
*.vapi linguist-detectable=true
*.vapi linguist-documentation=false
# Verilog
*.v linguist-detectable=true
*.v linguist-documentation=false
*.vh linguist-detectable=true
*.vh linguist-documentation=false
# VHDL
*.vhd linguist-detectable=true
*.vhd linguist-documentation=false
*.vhdl linguist-detectable=true
*.vhdl linguist-documentation=false
# Vim Script
*.vi linguist-detectable=true
*.vi linguist-documentation=false
*.vim linguist-detectable=true
*.vim linguist-documentation=false
# Visual Basic Script
*.vbs linguist-detectable=true
*.vbs linguist-documentation=false
# Visual Basic Dot Net
*.vb linguist-detectable=true
*.vb linguist-documentation=false
# Vue.JS
*.vue linguist-detectable=true
*.vue linguist-documentation=false
# WebAssembly
*.wat linguist-detectable=true
*.wat linguist-documentation=false
*.wasm linguist-detectable=true
*.wasm linguist-documentation=false
# WebVTT
*.vtt linguist-detectable=true
*.vtt linguist-documentation=false
# WikiText (MediaWiki)
*.wiki linguist-detectable=true
*.wiki linguist-documentation=false
# XSLT
*.xsl linguist-detectable=true
*.xsl linguist-documentation=false
*.xslt linguist-detectable=true
*.xslt linguist-documentation=false
# XML
# Disabled on Wednesday, August 25th 2021 at 3:05 pm, as it overtook all other languages
*.xml linguist-detectable=false
*.xml linguist-documentation=false
# YAML
*.yml linguist-detectable=true
*.yml linguist-documentation=false
*.yaml linguist-detectable=true
*.yaml linguist-documentation=false
# YACC
*.yacc linguist-detectable=true
*.yacc linguist-documentation=false
# ZenScript
*.zs linguist-detectable=true
*.zs linguist-documentation=false

# End of linguist script

# File info
# File type: Git attributes file (*.gitattributes)
# File version: 2 (Wednesday, August 25th 2021 at 9:33 pm)
# Line count (including blank lines and compiler line): 575

# End of script
