<%@ Page Language="C#" debug="true" trace="false"%>
<html>
  <head>
    <title></title>
    <script runat="server">
      // ASP.NET page code goes here
      // Project language file 1
      // For: /SNU/2D/ProgrammingTools/IDE/CSHTML/
      // About:
      // I decided to make CSHTML the main project language file for this project (SNU / 2D / Programming Tools / IDE / CSHTML) as this is a CSHTML IDE, and it needs its main language to be represented here.
      void Page_Load() {
        //On Page Load Run this Code
      }
    </script>
  </head>
  <body>    
    <form runat="server">
      <!-- ASP.NET controls go here -->
      <!-- File info
      File type: CSHTML source file (*.cshtml)
      File version: 1 (2022, Wednesday, November 23rd at 11:24 pm PST)
      Line count (including blank lines and compiler line): 27
      !-->
    </form> 
  </body>
</html>
