#!/usr/bin/pugs
# Start of script
use v6;
use perl5:DBI;

# Project language file 1
# For: seanpm2001/Learn-Pug
# About:
# I decided to make Pug the main project language file for this project (Seanpm2001/Learn-Pug) as Pug is the language this project is dedicated to, because this project is about learning the Pug programming language. It only makes sense to Pug the official language for this project. It is getting its own project language file, starting here.

# File info

# File type: Pugs source file (*.pug) 
# File version: 1 (2022, Tuesday, September 20th at 9:24 pm PST)
# Line count (including blank lines and compiler line): 18

# End of script
