{# Start of script #}

{# Project language file 1 #}

{ text: "Project language file 1" }
{ text: "For: seanpm2001/Learn-Nunjucks" }
{ text: "About:" }
{ text: "I decided to make Nunjucks the main project language file for this project (Seanpm2001/Learn-Nunjucks) as Nunjucks is the language this project is dedicated to, because this project is about learning the Nunjucks programming language. It only makes sense to Nunjucks the official language for this project. It is getting its own project language file, starting here." }

{# Output #}

{# Project language file 1 #}
{# For: seanpm2001/Learn-Nunjucks #}
{# About: #}
{# I decided to make Nunjucks the main project language file for this project (Seanpm2001/Learn-Nunjucks) as Nunjucks is the language this project is dedicated to, because this project is about learning the Nunjucks programming language. It only makes sense to Nunjucks the official language for this project. It is getting its own project language file, starting here. #}

{# File info #}

{# File version: 1 2022, Tuesday, October 11th at 9:51 pm PST) #}
{# File type: Nunjucks Source file (*.sc) #}
{# Line count (including blank lines and compiler line): 24 #}

{# End of script #}
