{# Start of script #}

{# Project language file 1 #}

{ text: "Project language file 1" }
{ text: "For: SNU/2D/ProgrammingTools/IDE/Nunjucks" }
{ text: "About:" }
{ text: "I decided to make Nunjucks the main project language file for this project (SNU / 2D / Programming Tools / IDE / Nunjucks) as this is a Nunjucks IDE, and it needs its main language to be represented here." }

{# Output #}

{# Project language file 1 #}
{# For: SNU/2D/ProgrammingTools/IDE/Nunjucks #}
{# About: #}
{# I decided to make Nunjucks the main project language file for this project (SNU / 2D / Programming Tools / IDE / Nunjucks) as this is a Nunjucks IDE, and it needs its main language to be represented here. #}

{# File info #}

{# File version: 1 2022, Tuesday, October 11th at 9:56 pm PST) #}
{# File type: Nunjucks Source file (*.njk) #}
{# Line count (including blank lines and compiler line): 24 #}

{# End of script #}
