{# Start of script #}

{# Project language file 1 #}
{# For: seanpm2001/Learn-Jinja #}
{# About: #}
{# I decided to make Jinja the main project language file for this project (Seanpm2001/Learn-Jinja) as Jinja is the language this project is dedicated to, because this project is about learning the Jinja programming language. It only makes sense to Jinja the official language for this project. It is getting its own project language file, starting here. #}

{% str "Project language file 1" %}
{% str "For: seanpm2001/Learn-Jinja" %}
{% str "About: " %}
{% str "I decided to make Jinja the main project language file for this project (Seanpm2001/Learn-Jinja) as Jinja is the language this project is dedicated to, because this project is about learning the Jinja programming language. It only makes sense to Jinja the official language for this project. It is getting its own project language file, starting here." %}

{# File info #}
{# File type: Jinja source file (*.j2) #}
{# File version: 1 (2022, Tuesday, August 30th at 3:57 pm PST) #}
{# Line count (including blank lines and compiler line): 19 #}

{# End of script #}
