name: "Project language file 1"
# Start of script

# Notes
# I don't know how to make strings very well in CSON, so comments will do for now

# Project language file 1
# For: SNU/2D/ProgrammingTools/IDE/CSON
# About:
# I decided to make CSON the main project language file for this project (SNU / 2D / Programming Tools / IDE / CSON) as this is a CSON IDE, and it needs its main language to be represented here.

# File info
# File type: CSON source file (*.cson)
# File version: 1 (2022, Thursday, October 13th at 8:19 pm PST)
# Line count (including blank lines and compiler line): 18

# End of script
