// Start of script
plang1();

begin
   write "Project language file 1";
   write "For: seanpm2001/Learn-JADE";
   write "About:";
   write "I decided to make JADE the main project language file for this project (Seanpm2001/Learn-JADE) as JADE is the language this project is dedicated to, because this project is about learning the JADE programming language. It only makes sense to JADE the official language for this project. It is getting its own project language file, starting here.";
end;
// File info
// File type: JADE source file (*.jade) for some reason, GitHub recognizes this as Pug
// File version: 1 (2022, Thursday, September 29th at 10:34 pm PST)
// Line count (including blank lines and compiler line): 15
// End of script
