#!/usr/bin/pugs
# Start of script
use v6;
use perl5:DBI;

# I decided to make Pugs the project language file for this project (SNU/2D/ProgrammingTools/IDE/Pug) as this project is written in Pug, and it is going to be bootstrapped, so Pug is a very fitting language for bootstrapping Pug.

# File info

# File type: Pugs source file (*.pug) 
# File version: 1 (Friday, July 16th 2021 at 6:14 pm
# Line count (including blank lines and compiler line): 15

# End of script
