%p.sample#welcome Project language file 1:
%p.sample#l2 For: SNU/2D/ProgrammingTools/IDE/HAML
%p.sample#l3 About:
%p.sample#l4 I decided to make HAML the main project language file for this project, as this is a HAML IDE, and should have its target language emphasized.
/* File info
/* File type: HAML source file (*.haml)
/* File version: 1 (2021, Friday, November 5th at 7:43 pm)
/* Line count (including blank lines and compiler line): 9
