 # Start of script
# Sample KDE desktop entry
[Desktop Entry]
Type=Application
Exec=your-app %u
MimeType=application/x-your-mime-type;
Icon=some-icon
X-DocPath=yourapp/index.html
Terminal=false
Name=Your App
GenericName=Project language file 1
Comment=I decided to make Desktop the main project language file for this project (SNU / 2D / Programming Tools / IDE / Desktop) as this is a Desktop IDE, and it needs its main language to be represented here.
Categories=Qt;KDE;
# File info
# File type: KDE desktop file (*.desktop)
# File version: 1 (2022, Monday, September 5th at 6:55 pm PST)
# Line count (including blank lines and compiler line): 19
# End of script
