{% extends "base.html" %}
{% block navigation %}
<H1>Project language 5</H1>
<H2>For: seanpm2001/PhD-in-PHP</H2>
<H3>About:</H3>
<p>I decided to make Twig the fifth project language file for this project (Seanpm2001/PhD-in-PHP) as on 2022, November 24th, I decided to include PHP template langugaes into this projects course. Twig was the first template language to come to mind. It is getting its own project language file, starting here.</p>
<H4>File info</H4>
<p><b>File type:</b> Twig source file (*.twig)</p>
<p><b>File version:</b> 1 (2022, Thursday, November 24th at 5:30 pm PST)</p>
<p><b>Line count (including blank lines and compiler line):</b> 12</p>
{% endif x == x %}
