// Start of script

div::projectlanguageone {

content1: "Project language file 1"
content2: "For: SNU/2D/ProgrammingTools/IDE/Stylus"
content3: "About:"
content4: "I decided to make Stylus the project language file for this project (SNU/2D/Programming Tools/IDE/Stylus) as this is a Stylus IDE Project and needs to have Stylus as its main language."

}

// Output:

// Project language file 1
// For: SNU/2D/ProgrammingTools/IDE/Stylus
// About:
// I decided to make Stylus the project language file for this project (SNU/2D/Programming Tools/IDE/Stylus) as this is a Stylus IDE Project and needs to have Stylus as its main language.

// File info
// File type: Stylus source file (*.styl)
// File version: 1 (2022, Monday, September 19th at 8:04 pm PST)
// Line count (including blank lines and compiler line): 25

// End of script
