// Start of script
extends ../_bootstrap
append styles
block body
  h1.bodyTitle Project language file one
  h2.bodySubTitle For: Seanpm2001/ShareBoxLIB
  h3.bodySubbTitle About:
  p.body I chose Pug as the eighth project language for this project (Seanpm2001/ShareBoxLIB) as Pug is one of the languages used on certain variants of this projects framework, so this project can work well with other programming language frameworks.
block endBody
block fileInf
  h1.finfTitle File info
  p.finfBody1 File type: Pug source file (*.pug)
  p.finfBody2 File version: 1 (2021, Saturday, November 27th at 9:32 pm)
  p.finfBody3 Line count (including blank lines and compiler line): 17
block endFinf
// End of script
