{% extends "base.html" %}
{% block navigation %}
<H3>Project language 1</H3>
<H4>FOr: SNU/2D/GardenSpeak</H4>
<p>I decided to make Twig the project language file for this project (SNU/2D/GardenSpeak) as twigs are something found in most plants, and it is the most functional web programming language I could find in relation to plants (other than Elm) it is getting its own project language file, starting here.'), nl.</p>
<p>File info</p>
<p><b>File type:</b> Twig source file (*.twig)</p>
<p><b>File version:</b> 1 (2022, Wednesday, September 7th at 8:21 pm)</p>
<p><b>Line count (including blank lines and compiler line):</b> 11</p>
{% endif x == x %}
