<%@ Page Language="C#" debug="true" trace="false"%>
<html>
  <head>
    <title></title>
    <script runat="server">
      // ASP.NET page code goes here
      // Project language file 1
      // For: seanpm2001/Learn-CSHTML
      // About:
      // I decided to make CSHTML the main project language file for this project (Seanpm2001/Learn-CSHTML) as CSHTML is the language this project is dedicated to, because this project is about learning the CSHTML programming language. It only makes sense to CSHTML the official language for this project. It is getting its own project language file, starting here.
      void Page_Load() {
        //On Page Load Run this Code
      }
    </script>
  </head>
  <body>    
    <form runat="server">
      <!-- ASP.NET controls go here -->
      <!-- File info
      File type: CSHTML source file (*.cshtml)
      File version: 1 (2022, Wednesday, November 23rd at 11:20 pm PST)
      Line count (including blank lines and compiler line): 27
      !-->
    </form> 
  </body>
</html>
