%p.sample#welcome Project language file 1:
%p.sample#l2 For: seanpm2001/Learn-HAML
%p.sample#l3 About:
%p.sample#l4 I decided to make HAML the main project language file for this project (Seanpm2001/Learn-HAML) as HAML is the language this project is dedicated to, because this project is about learning the HAML programming language. It only makes sense to HAML the official language for this project. It is getting its own project language file, starting here.
/* File info
/* File type: HAML source file (*.haml)
/* File version: 1 (2022, Saturday, September 24th at 8:46 pm PST)
/* Line count (including blank lines and compiler line): 9
