helloWorld();

begin
   write "I decided to make JADE the project language file for this project (SNU/2D/Programming Tools/IDE/JADE) as this is a JADE IDE Project and needs to have JADE as its main language.";
end;// Start of script
// 
// File info
// File type: JADE source file (*.jade) for some reason, GitHub recognizes this as Pug
// File version: 1 (Tuesday, August 17th 2021 at 6:42 pm)
// Line count (including blank lines and compiler line): 12
// End of script

