// Start of script

div::projectlanguageone {

content1: "Project language file 1"
content2: "For: seanpm2001/Learn-Stylus"
content3: "About:"
content4: "I decided to make Stylus the main project language file for this project (Seanpm2001/Learn-Stylus) as Stylus is the language this project is dedicated to, because this project is about learning the Stylus programming language. It only makes sense to Stylus the official language for this project. It is getting its own project language file, starting here."

}

// Output:

// Project language file 1
// For: seanpm2001/Learn-Stylus
// About:
// I decided to make Stylus the main project language file for this project (Seanpm2001/Learn-Stylus) as Stylus is the language this project is dedicated to, because this project is about learning the Stylus programming language. It only makes sense to Stylus the official language for this project. It is getting its own project language file, starting here.

// File info
// File type: Stylus source file (*.styl)
// File version: 1 (2022, Monday, September 19th at 8:00 pm PST)
// Line count (including blank lines and compiler line): 25

// End of script
