{% extends "base.html" %}
{% block navigation %}
<H3>Project language 1</H3>
<H4>FOr: SNU 2D Programming Tools/IDE/Twig</H4>
<p>I decided to make Twig the project language file for this project (SNU/2D/Programming Tools/IDE/Twig) as this is a Twig IDE Project and needs to have Twig as its main language.'), nl.</p>
<p>File info</p>
<p><b>File type:</b> Twig source file (*.twig)</p>
<p><b>File version:</b> 1 (2021, TUesday August 17th 2021 at 3:54 pm)</p>
<p><b>Line count (including blank lines and compiler line):</b> 11</p>
{% endif x == x %}
