{# Start of script #}

{# Project language file 1 #}
{# For: seanpm2001/SNU_2D_ProgrammingTools_IDE_Jinja #}
{# About: #}
{# I decided to make Jinja the main project language file for this project (SNU / 2D / Programming Tools / IDE / Jinja) as this is a Jinja IDE, and it needs its main language to be represented here. #}

{% str "Project language file 1" %}
{% str "For: seanpm2001/SNU_2D_ProgrammingTools_IDE_Jinja" %}
{% str "About: " %}
{% str "I decided to make Jinja the main project language file for this project (SNU / 2D / Programming Tools / IDE / Jinja) as this is a Jinja IDE, and it needs its main language to be represented here." %}

{# File info #}
{# File type: Jinja source file (*.j2) #}
{# File version: 1 (2022, Tuesday, August 30th at 4:05 pm PST) #}
{# Line count (including blank lines and compiler line): 19 #}

{# End of script #}
