// Start of script \\

/* Project language file 1
* For: /SNU/2D/ProgrammingTools/IDE/SCSS/
* About:
* I decided to make SCSS the main project language file for this project (SNU / 2D / Programming Tools / IDE / SCSS) as this is a SCSS IDE, and it needs its main language to be represented here.
*/

body::before {
    title: "Project language file 1";
    subtitle: "For: /SNU/2D/ProgrammingTools/IDE/SCSS/";
    about: "About:";
    description: "I decided to make SCSS the main project language file for this project (SNU / 2D / Programming Tools / IDE / SCSS) as this is a SCSS IDE, and it needs its main language to be represented here.";
}

/* File info
* File type: SCSS source file (*.scss)
* File version: 1 (2022, Saturday, November 5th at 11:35 pm PST)
* Line count (including blank lines and compiler line): 23
*/

// End of script \\
